.avatar {
    width: 80px;
    height: 80px;
    background-color: #d5e4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212830;
    font-weight: 400;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 26px;
}

.header {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    width: 100%;
    padding-bottom: 24px;
}
.username {
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    font-family: "SB Sans Interface", sans-serif;
}

.folder {
    display: flex;
    align-items: center;
}

.folder > img {
    margin-right: 6px;
}

.folders {
    display: flex;
    gap: 8px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainForm {
    padding-top: 24px;
}
